PORT=""

DB_USER=""
DB_PASSWORD=""
DB_HOST=""
DB_PORT=""
DB_DATABASE=""
DB_SSL=""

BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""

API_KEY_PEPPER=""
API_KEY_ENVIRONMENT="live"

SMTP_HOST=""
SMTP_PORT=""
SMTP_SECURE=""
SMTP_USER=""
SMTP_PASSWORD=""
SMTP_EMAIL=""

REDIS_URL=""

OLLAMA_BASE_URL=""

APP_CONFIG_ENABLE_TERMINAL_LOGS=""
